<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Food Deserts</title>

  <!-- Our original css files and links -->
  <!-- <link rel="stylesheet" href="https://use.typekit.net/fwf7daa.css">
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../static/css/d3style.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <!-- Our original css files and links -->


  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="../static/css/agency.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Food Deserts</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a style="color:black; font-weight: bold;" class="nav-link js-scroll-trigger"
              href="#background">Background</a>
          </li>
          <li class="nav-item">
            <a style="color:black; font-weight: bold;" class="nav-link js-scroll-trigger" href="#maps">Maps</a>
          </li>
          <li class="nav-item">
            <a style="color:black; font-weight: bold;" class="nav-link js-scroll-trigger"
              href="#predictions">Predictions</a>
          </li>
          <li class="nav-item">
            <a style="color:black; font-weight: bold;" class="nav-link js-scroll-trigger"
              href="#methodology">Methodology</a>
          </li>
          <li class="nav-item">
            <a style="color:black; font-weight: bold;" class="nav-link js-scroll-trigger" href="#team">Team</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div style="color:black; font-weight: bold;" class="intro-lead-in">US Food Deserts - Dollar / Grocery Stores
        </div>
        <!-- <div style="color:black;" class="intro-heading text-uppercase">US Food Deserts - Dollar / Grocery Stores</div> -->
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#background">Explore</a>
      </div>
    </div>
  </header>

  <!-- Background -->
  <section class="page-section" id="background">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Background</h2>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Food Deserts</h4>
          <p class="text-muted">Low income areas which lack easy access to grocery stores are referred to as 'Food
            Deserts'. The USDA defines
            food deserts as parts of the country that lack
            healthy food, such as fresh fruit and vegetables. These areas are typically impoverished and have a lack of
            grocery stores, farmers' markets and
            healthy food providers. Approximately 23.5 million Americans live in food deserts.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Dollar Stores</h4>
          <p class="text-muted">The Institute for Local Self-Reliance's (ILSR) released a report in 2018 discussing how
            dollar stores are
            targeting rural and and low-income neighborhoods that satisy the characteristics of food deserts. This
            raises
            concerns because although dollar stores typically sell milk and eggs, they do not sell fresh fruits or
            vegetables,
            or other nutrionally-dense food products.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-quote-left fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Quotes</h4>
          <p class="text-muted">"This influx of dollar stores, according to the Oklahoma City city council, is a major
            public-health
            problem".
            "While many factors influence what stores come and go in a neighborhood, research shows that convenience
            stores
            persist where poverty does. Spelman College sociologist Ashanté Reese has also shown that food access aligns
            with
            historical patterns of racial segregation. In low-income neighborhoods—and even more so in those that are
            predominantly black—researchers have found that the number of convenience stores increases with poverty,
            while
            supermarket availability decreases."</p>
          <p>https://psmag.com/social-justice/to-save-a-neighborhood-ban-a-dollar-store</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Maps -->
  <section class="bg-light page-section" id="maps">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Maps</h2>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-10 col-sm-6 portfolio-item">
          <div class="portfolio-caption">
            <h4>Food Desert Map</h4>
            <p class="text-muted">This map's color scheme displays the percentage of people, by county, living in food
              deserts. The darkest color represents the largest number of people living in food deserts.</p>
          </div>

          <div class='tableauPlaceholder' id='viz1566064185455' style='position: relative'><noscript><a href='#'><img
                  alt=' '
                  src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;FD&#47;FD_v1&#47;Dashboard1&#47;1_rss.png'
                  style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='site_root' value='' />
              <param name='name' value='FD_v1&#47;Dashboard1' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='yes' />
              <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;FD&#47;FD_v1&#47;Dashboard1&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' /></object>
          </div>
          <script type='text/javascript'>
            var divElement = document.getElementById('viz1566064185455');
            var vizElement = divElement.getElementsByTagName('object')[0];
            vizElement.style.width = '100%'; vizElement.style.maxWidth = '1754px';
            vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
            vizElement.style.maxHeight = '1396px'; var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);                
          </script>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-10 col-sm-6 portfolio-item">
          <div class="portfolio-caption">
            <h4>Dollar Store Map</h4>
            <p class="text-muted">The map illustrates the number of dollar stores nationwide.</p>
          </div>
          <div class='tableauPlaceholder' id='viz1566062675765' style='position: relative'><noscript>
              <a href='#'><img alt=' '
                  src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;FD&#47;FD_v1&#47;DollarStoresUSAMap&#47;1_rss.png'
                  style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='site_root' value='' />
              <param name='name' value='FD_v1&#47;DollarStoresUSAMap' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='yes' />
              <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;FD&#47;FD_v1&#47;DollarStoresUSAMap&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' /></object></div>
          <script type='text/javascript'>
            var divElement = document.getElementById('viz1566062675765');
            var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%';
            vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);               
          </script>
        </div>
      </div>

      <br>

      <h4>Dollar/Grocery Store Trends and Growth/Decline</h4>
      <div class="row">
        <div class="col-lg-10 col-sm-6 portfolio-item">
          <div class="portfolio-caption">
            <h4>Trends</h4>
            <p class="text-muted">Dollar Store / Grocery Store Trends from 2007 to 2018.</p>
          </div>
          <div class='tableauPlaceholder' id='viz1565920836892' style='position: relative'><noscript><a href='#'><img
                  alt=' '
                  src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Do&#47;DollarStoresGrowth&#47;Dashboard1&#47;1_rss.png'
                  style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='site_root' value='' />
              <param name='name' value='DollarStoresGrowth&#47;Dashboard1' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='yes' />
              <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Do&#47;DollarStoresGrowth&#47;Dashboard1&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' />
              <param name='filter' value='publish=yes' /></object>
          </div>
          <script type='text/javascript'>
            var divElement = document.getElementById('viz1565920836892');
            var vizElement = divElement.getElementsByTagName('object')[0];
            vizElement.style.minWidth = '720px'; vizElement.style.maxWidth = '920px'; vizElement.style.width = '100%';
            vizElement.style.minHeight = '287px'; vizElement.style.maxHeight = '687px';
            vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
            var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);             
          </script>
        </div>

        <div class="col-lg-4 col-sm-3 portfolio-item">
          <div class="portfolio-caption">
            <h4>Growth / Decline</h4>
            <p class="text-muted">Growth/Decline from 2007 to 2018</p>
          </div>
          <div class='tableauPlaceholder' id='viz1565920836892' style='position: relative'><noscript><a href='#'><img
                  alt=' '
                  src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Do&#47;DollarStoresGrowth&#47;Dashboard1&#47;1_rss.png'
                  style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='site_root' value='' />
              <param name='name' value='DollarStoresGrowth&#47;Dashboard1' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='yes' />
              <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Do&#47;DollarStoresGrowth&#47;Dashboard1&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' />
              <param name='filter' value='publish=yes' /></object>
          </div>
          <script type='text/javascript'>
            var divElement = document.getElementById('viz1565920836892');
            var vizElement = divElement.getElementsByTagName('object')[0];
            vizElement.style.minWidth = '720px'; vizElement.style.maxWidth = '920px'; vizElement.style.width = '100%';
            vizElement.style.minHeight = '287px'; vizElement.style.maxHeight = '687px';
            vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
            var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);             
          </script>
        </div>
      </div>
    </div>
  </section>

  <!-- Predictions -->
  <section class="bg-light page-section" id="predictions">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Predictions</h2>
          <h3 class="section-subheading text-muted">The following graphics display the predicted number of grocery
            stores.</h3> -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-10 col-sm-6 portfolio-item">
          <div class="portfolio-caption">
            <h4>Urban / Rural Grocery Stores vs. Dollar Stores (Current and Predicted)</h4>
            <p class="text-muted">The top 3 urban / rural counties with the highest number of people without access to
              fresh fruit and vegetables
              are displayed.</p>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-10 col-sm-6 portfolio-item">
          <div class="portfolio-caption">
            <p>Urban / Rural Selection </p>
            <select id="urb_rural" class="custom-select col-md-3" onchange="optionChanged(this.value)">
              <option value="urban">Urban</option>
              <option value="rural">Rural</option>
            </select>

            <!-- Link to Urban / Rural Graph goes here OR is access via Routes ???? -->


          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Methodology -->
  <section class="bg-light page-section" id="methodology">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Methodology</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-10 col-sm-6">
          <h4>Methodology 1</h4>
          <p class="text-muted">xxxxx</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-10 col-sm-6">
          <h4>Methodology 2</h4>
          <p class="text-muted">yyyyyy</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Team -->
  <section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Team</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-paint-brush fa-stack-1x fa-inverse"></i>
            </span>
            <h4>Bic Vu</h4>
            <p class="text-muted">Lead Designer</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-globe-americas fa-stack-1x fa-inverse"></i>
            </span>
            <h4>Monica Linsangan</h4>
            <p class="text-muted">Maps</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4>Carol Fogel</h4>
            <p class="text-muted">xxxxx</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

<script type="text/javascript" src="../static/js/app.js"></script>

</html>