<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Food Deserts</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="../static/css/agency.min.css" rel="stylesheet">

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body id="page-top">

  <body id="page-top" style="background-image:url(../static/img/ChrisWaits_BW.jpg); background-size: 100%"></body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Food Deserts</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#background">Background</a>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#analysis">Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#predictions">Predictions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#methodology">Methodology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team">Team</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">US Food Deserts - Dollar / Grocery Stores
        </div>
      </div>
    </div>
    <p>Photo by Chris Waits</p>
  </header>

  <!-- Background -->
  <section class="bg-light page-section" id="background">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Background</h2>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-6">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Food Deserts</h4>
          <p class="text-muted">Low income areas which lack easy access to grocery stores are referred to as 'Food
            Deserts'. The USDA defines
            food deserts as parts of the country that lack
            healthy food, such as fresh fruit and vegetables. These areas are typically impoverished and have a lack of
            grocery stores, farmers' markets and
            healthy food providers. Approximately 23.5 million Americans live in food deserts.</p>
        </div>
        <div class="col-md-6">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Dollar Stores</h4>
          <p class="text-muted">The Institute for Local Self-Reliance's (ILSR) released a report in 2018 discussing how
            dollar stores are
            targeting rural and and low-income neighborhoods that satisy the characteristics of food deserts. This
            raises
            concerns because although dollar stores typically sell milk and eggs, they do not sell fresh fruits or
            vegetables,
            or other nutritionally-dense food products.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-quote-left fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Quotes</h4>
          <p class="text-muted">"This influx of dollar stores, according to the Oklahoma City city council, is a major
            public-health
            problem".
            "While many factors influence what stores come and go in a neighborhood, research shows that convenience
            stores
            persist where poverty does. Spelman College sociologist Ashanté Reese has also shown that food access aligns
            with
            historical patterns of racial segregation. In low-income neighborhoods—and even more so in those that are
            predominantly black—researchers have found that the number of convenience stores increases with poverty,
            while
            supermarket availability decreases."</p>
          <p>https://psmag.com/social-justice/to-save-a-neighborhood-ban-a-dollar-store</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Analysis -->
  <section class="bg-light page-section" id="analysis">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Analysis</h2>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
      </div>

      <div class="portfolio-caption">
        <h4>National Overview</h4>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 portfolio-item">
          <div class="portfolio-caption">
            <h4>Food Desert Map</h4>
            <p class="text-muted">Food Desert problem is so prevalent that USDA has created an interactive website of
              food desert map that finds all food desert
              areas and provides statistical data on population with low access to food.</p>
          </div>

          <div class='tableauPlaceholder' id='viz1566064185455' style='position: relative'><noscript><a href='#'><img
                  alt=' '
                  src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;FD&#47;FD_v1&#47;Dashboard1&#47;1_rss.png'
                  style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='site_root' value='' />
              <param name='name' value='FD_v1&#47;Dashboard1' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='no' />
              <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;FD&#47;FD_v1&#47;Dashboard1&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' /></object>
          </div>
          <script type='text/javascript'>
            var divElement = document.getElementById('viz1566064185455');
            var vizElement = divElement.getElementsByTagName('object')[0];
            vizElement.style.width = '100%'; vizElement.style.maxWidth = '1754px';
            vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
            vizElement.style.maxHeight = '1396px'; var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);                
          </script>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 portfolio-item">
          <div class="portfolio-caption">
            <h4>Dollar Store Map</h4>
            <p class="text-muted">The map illustrates the number of dollar stores nationwide.</p>
          </div>
          <div class='tableauPlaceholder' id='viz1566062675765' style='position: relative'><noscript><a href='#'><img
                  alt=' '
                  src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;FD&#47;FD_v1&#47;DollarStoresUSAMap&#47;1_rss.png'
                  style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='site_root' value='' />
              <param name='name' value='FD_v1&#47;DollarStoresUSAMap' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='no' />
              <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;FD&#47;FD_v1&#47;DollarStoresUSAMap&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' /></object></div>
          <script type='text/javascript'>
            var divElement = document.getElementById('viz1566062675765');
            var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%';
            vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);              
          </script>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 portfolio-item">
          <div class="portfolio-caption">
            <h4>Dollar/Grocery Store Growth / Decline</h4>
            <p class="text-muted">Growth/Decline from 2009 to 2016</p>
          </div>
          <div class='tableauPlaceholder' id='viz1566428998463' style='position: relative'><noscript><a href='#'><img
                  alt=' '
                  src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Do&#47;DollarStoresandGroceryStoresGrowth2009-2016&#47;Sheet1&#47;1_rss.png'
                  style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='site_root' value='' />
              <param name='name' value='DollarStoresandGroceryStoresGrowth2009-2016&#47;Sheet1' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='yes' />
              <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Do&#47;DollarStoresandGroceryStoresGrowth2009-2016&#47;Sheet1&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' /></object></div>
          <script type='text/javascript'>
            var divElement = document.getElementById('viz1566428998463');
            var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%';
            vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);              
          </script>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 portfolio-item">
          <div class="portfolio-caption">
            <h4>Dollar/Grocery Store Trends</h4>
            <p class="text-muted">Trends from 2009 to 2016.</p>
          </div>
          <div class='tableauPlaceholder' id='viz1566428820185' style='position: relative'><noscript><a href='#'><img
                  alt=' '
                  src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Do&#47;DollarStoresGroceryStoresHistoricalTrends2009-2016&#47;DollarStore_GroceryStorePercentofChange&#47;1_rss.png'
                  style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='site_root' value='' />
              <param name='name'
                value='DollarStoresGroceryStoresHistoricalTrends2009-2016&#47;DollarStore_GroceryStorePercentofChange' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='yes' />
              <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Do&#47;DollarStoresGroceryStoresHistoricalTrends2009-2016&#47;DollarStore_GroceryStorePercentofChange&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' /></object></div>
          <script type='text/javascript'>
            var divElement = document.getElementById('viz1566428820185');
            var vizElement = divElement.getElementsByTagName('object')[0];
            vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            izElement.parentNode.insertBefore(scriptElement, vizElement);                
          </script>
        </div>
      </div>
    </div>
  </section>

  <!-- Predictions -->
  <section class="bg-light page-section" id="predictions">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Predictions</h2>
        </div>
      </div>

      <!-- Maps by County -->
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 portfolio-item">
          <div class="portfolio-caption">
            <h4>Machine Learning</h4>
          </div>

          <p class="text-muted">Please select State / County</p>

          <form name="statedropdownList">
            State:
            <select name="StateSelection" id="stateDropdown" class="statesel">
              <option value="" selected="selected"></option>
            </select>
          </form>

          <form name="countydropdownList">
            County:
            <select name="CountySelection" id="countyDropdown" class="countysel">
              <option value="" selected="selected"></option>
            </select>
          </form>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm-6 portfolio-item">
          <div class="portfolio-caption">
            <h4>Grocery vs Dollar Stores by County </h4>
          </div>

          <div id="graph1" style="padding-right:30px; width:100%;"></div>
        </div>

        <div class="col-sm-6 portfolio-item">
          <div class="portfolio-caption">
            <h4>Population with Low Food Access</h4>
          </div>

          <div id="graph2" style="padding-right:30px; width:100%;"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 portfolio-item">
          <div class="portfolio-caption">
            <h4>Grocery Store per Capita</h4>
            <p class="text-muted">mfi9ai weopsopdfmop mdjm omsfjopdfjposdmfopdsjfpom fjjopdsfjopsjdfdsf</p>
          </div>

          <div class='tableauPlaceholder' id='viz1566411680051' style='position: relative'><noscript><a href='#'><img
                  alt=' '
                  src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Do&#47;DollarGrocery_perCap&#47;GroceryStoreperCapita&#47;1_rss.png'
                  style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='site_root' value='' />
              <param name='name' value='DollarGrocery_perCap&#47;GroceryStoreperCapita' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='yes' />
              <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Do&#47;DollarGrocery_perCap&#47;GroceryStoreperCapita&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' /></object></div>
          <script type='text/javascript'>
            var divElement = document.getElementById('viz1566411680051');
            var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%';
            vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);                
          </script>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 portfolio-item">
          <div class="portfolio-caption">
            <h4>Dollar Store per Capita</h4>
            <p class="text-muted">The map illustrates the number of dollar stores nationwide.</p>
          </div>
          <div class='tableauPlaceholder' id='viz1566412671583' style='position: relative'><noscript><a href='#'><img
                  alt=' '
                  src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Do&#47;DollarGrocery_perCap&#47;DollarStoreperCapita&#47;1_rss.png'
                  style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='site_root' value='' />
              <param name='name' value='DollarGrocery_perCap&#47;DollarStoreperCapita' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='yes' />
              <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Do&#47;DollarGrocery_perCap&#47;DollarStoreperCapita&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' /></object></div>
          <script type='text/javascript'>                    var divElement = document.getElementById('viz1566412671583');
            var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%';
            vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);   
          </script>
        </div>
      </div>
    </div>
  </section>

  <!-- Methodology -->
  <section class="bg-light page-section" id="methodology">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Methodology</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-10 col-sm-6">
          <h4> Data Retrieval</h4>
          <p class="text-muted"> pfjpsjposj fopsj pojdsfpo sjdpjspojfposjfppofjspofjposdjposjpofj spjspoj
            fpospjpojsdpojfpsjfpojspofjposjdfg </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-10 col-sm-6">
          <h4> Data Analysis</h4>
          <p class="text-muted">p wejrpoweopjsd l;fjasufoj;osdjlkjs;lfj ;sf upsdif; mdlkdoiudpogk'km;fg dfgjpfogj
            rfgporgf grfgrpojgpofuww3ra'pcpf podfo</p>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Sources</h2>
          <p class="text-muted"> The following resources were used: </p>
          <ul>
            <li>REFERENCES:AMERICAN FACT FINDER: https://factfinder.census.gov/faces/nav/jsf/pages/community_facts.xhtml
            </li>
            <li>NUTRITION ASSN.:http://americannutritionassociation.org/newsletter/usda-defines-food-deserts</li>
            <li> https://www.census.gov/eos/www/naics/2017NAICS/2017_NAICS_Manual.pdf</li>
            <li> https://www.hernandopa-fl.us/PAWebSite/forms/NAICS_%202017_to_2012.pdf</li>
            <li> https://www.naics.com/naics-code-description/?code=445110</li>
            <li> https://www.naics.com/naics-code-description/?code=452319</li>
            <li> https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/DEMO_I.htm</li>
            <li> https://wwwn.cdc.gov/nchs/nhanes/Default.aspx</li>
            <li> “The Grocery Gap: Who Has Access to Healthy Food and Why It Matters:” Report from Policy Linkand the
              Food Trust.STATISTA: https://www.statista.com</li>
            <li> SHANNON: http://geography.uga.edu/directory/people/jerry-shannon</li>
            <li> “Access to Affordable and Nutritious Food: Measuring and Understanding Food Deserts and their
              Consequences:” Report (2009) to Congress from the United States Department of Agriculture ; </li>
            <li> https://www.ers.usda.gov/data-products/food-access-research-atlas/download-the-data/</li>
            <li> https://www.fns.usda.gov/snap/retailer-locator</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Team -->
  <section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Team</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-paint-brush fa-stack-1x fa-inverse"></i>
            </span>
            <h4>Bic Vu</h4>
            <p class="text-muted">Lead Designer, Machine Learning, Python</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-globe-americas fa-stack-1x fa-inverse"></i>
            </span>
            <h4>Monica Linsangan</h4>
            <p class="text-muted">Maps/Charts, Tableau</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4>Carol Fogel</h4>
            <p class="text-muted">Website, Javascript</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-light page-section" id="copyright">
    <div class="container">
      <div class="row">
        <div class="row align-items-center">
          <div class="col-sm-12">
            <span class="copyright">Copyright &copy; 2019</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/js/agency.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="../static/js/Results.js"></script>
  <script src="../static/js/LineGraphs.js"></script>
  <script src="../static/js/app.js"></script>

</body>

</html>